In [1]:
from data_cleaning import get_data_cleaned
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
glassdoor_df, h1bdata_df, salary_ai_df = get_data_cleaned()

# Taking a look at dataset types

In [3]:
glassdoor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 742 entries, 0 to 741
Data columns (total 36 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job Title           742 non-null    object
 1   Salary Estimate     742 non-null    object
 2   Job Description     742 non-null    object
 3   Rating              742 non-null    float64
 4   Location            742 non-null    object
 5   Headquarters        742 non-null    object
 6   Size                742 non-null    object
 7   Founded             742 non-null    int64
 8   Type of ownership   742 non-null    object
 9   Sector              742 non-null    object
 10  Revenue             742 non-null    object
 11  Lower Salary        742 non-null    int64
 12  Upper Salary        742 non-null    int64
 13  Avg Salary(K)       742 non-null    float64
 14  company_txt         742 non-null    object
 15  Job Location        742 non-null    object
 16  Age                 742 non-null    int64
 17  Python              742 non-null    int64
 18  spark               742 non-null    int64
 19  aws                 742 non-null    int64
 20  excel               742 non-null    int64
 21  sql                 742 non-null    int64
 22  sas                 742 non-null    int64
 23  keras               742 non-null    int64
 24  pytorch             742 non-null    int64
 25  scikit              742 non-null    int64
 26  tensor              742 non-null    int64
 27  hadoop              742 non-null    int64
 28  tableau             742 non-null    int64
 29  bi                  742 non-null    int64
 30  flink               742 non-null    int64
 31  mongo               742 non-null    int64
 32  google_an           742 non-null    int64
 33  job_title_sim       742 non-null    object
 34  seniority_by_title  742 non-null    object
 35  Degree              742 non-null    object
dtypes: float64(2), int64(20), object(14)
memory usage: 208.8+ KB

In [4]:
glassdoor_df['job_title_sim'].value_counts()

data scientist                    313
other scientist                   143
data engineer                     119
analyst                           101
machine learning engineer          22
Data scientist project manager     16
na                                 10
data analitics                      8
data modeler                        5
director                            5
Name: job_title_sim, dtype: int64

In [5]:
glassdoor_df['job_title_sim'] = glassdoor_df['job_title_sim'].apply(lambda x: 'others' if x=='na'  else x)

In [6]:
glassdoor_df['job_title_sim'].value_counts()

data scientist                    313
other scientist                   143
data engineer                     119
analyst                           101
machine learning engineer          22
Data scientist project manager     16
others                             10
data analitics                      8
data modeler                        5
director                            5
Name: job_title_sim, dtype: int64

In [7]:
h1bdata_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4587 entries, 0 to 4660
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4587 non-null   int64
 1   company     4587 non-null   object
 2   title       4587 non-null   object
 3   salary      4587 non-null   object
 4   location    4587 non-null   object
 5   date        4587 non-null   object
dtypes: int64(1), object(5)
memory usage: 250.9+ KB

In [8]:
salary_ai_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245 entries, 0 to 244
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           245 non-null    int64
 1   experience_level    245 non-null    object
 2   employment_type     245 non-null    object
 3   job_title           245 non-null    object
 4   salary              245 non-null    int64
 5   salary_currency     245 non-null    object
 6   salary_in_usd       245 non-null    int64
 7   employee_residence  245 non-null    object
 8   remote_ratio        245 non-null    int64
 9   company_location    245 non-null    object
 10  company_size        245 non-null    object
dtypes: int64(4), object(7)
memory usage: 21.2+ KB